.welcome_header{
    
    color:white;
    text-align: center;
    padding: 30px;

}

.welcome_mess{
    text-align: center;
    font-size: 18px;
}

.card{
    margin-right:8%;
}

.row{
    padding: 30px;
}

